.u-section-1 .u-sheet-1 {
  min-height: 9740px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}@font-face {
  font-family: 'OpenSans-VariableFont_wdthwght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSans-VariableFont_wdthwght.ttf);
}